{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to the Homepage</h1>
        <p>This page is now using Vite for asset management!</p>
    </div>
{% endblock %}
