# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
docker-compose.*.yml

# Symfony
/var/
/vendor/
/.env.local
/.env.*.local

# PHPUnit
/phpunit.xml
/.phpunit.result.cache

# Composer
/composer.phar

# IDE files
/.idea/
/.vscode/

# OS specific files
.DS_Store
Thumbs.db
