<IfModule mod_rewrite.c>
    # This Option needs to be enabled for RewriteRule, otherwise it will show an error like
    # 'Options FollowSymLinks or SymLinksIfOwnerMatch is off which implies that RewriteRule directive is forbidden'
    Options +FollowSymlinks

    RewriteEngine On

    # Nastavení HTTPS pro Cloudflare
    # Pokud Cloudflare posílá X-Forwarded-Proto: https, nastavíme HTTPS=on
    RewriteCond %{HTTP:X-Forwarded-Proto} =https
    RewriteRule .* - [E=HTTPS:on]

    # Pokud Cloudflare posílá CF-Visitor obsahující https, nastavíme HTTPS=on
    RewriteCond %{HTTP:CF-Visitor} "{\"scheme\":\"https\"}"
    RewriteRule .* - [E=HTTPS:on]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    # Rewrite all other queries to the front controller.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

