{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}